<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Personalize Your Interface</h1>
    <form action="/account/personalization" method="POST" enctype="multipart/form-data">
        <div>
            <label for="orgName">Organization Name:</label>
            <input type="text" id="orgName" name="orgName" value="<%= orgDetails.organization_name %>" required>
        </div>
        <div>
            <label for="logo">Upload Logo:</label>
            <input type="file" id="logo" name="logo" accept="image/*">
        </div>
        <div>
            <label for="color">Choose Primary Color:</label>
            <input type="color" id="color" name="color" value="<%= orgDetails.primary_color %>">
        </div>
        <div>
            <label for="font">Select Font Type:</label>
            <select id="font" name="font">
                <option value="Arial" <%= orgDetails.font_style === 'Arial' ? 'selected' : '' %>>Arial</option>
                <option value="Verdana" <%= orgDetails.font_style === 'Verdana' ? 'selected' : '' %>>Verdana</option>
                <option value="Helvetica" <%= orgDetails.font_style === 'Helvetica' ? 'selected' : '' %>>Helvetica</option>
                <option value="Times New Roman" <%= orgDetails.font_style === 'Times New Roman' ? 'selected' : '' %>>Times New Roman</option>
            </select>
        </div>
        <button type="submit">Apply Personalization</button>

        <br>

        <div class="public-dashboard-link">
            <h2>Public Dashboard</h2>
            <p>Access the public dashboard for your organization:</p>
            <a href="/<%= orgDetails.organization_name.replace(/\s+/g, '').toLowerCase() %>-<%= organizationId %>-public.edu">
                /<%= orgDetails.organization_name.replace(/\s+/g, '').toLowerCase() %>-<%= organizationId %>-public.edu
            </a>
        </div>
    </form>

    
</body>
</html>
