
    <div class="close-graduation-year-group-container">
        <h1>Close Graduation Year Group</h1>
        <% gradYearGroups.forEach(group => { %>
            <h2><%= group.name %></h2>
            <form action="/common/closeGraduationYearGroup" method="POST">
                <ul>
                    <% group.students.forEach(student => { %>
                        <li>
                            <input type="checkbox" name="students" value="<%= student.student_id %>">
                            <%= student.first_name %> <%= student.last_name %>
                            <button type="submit" name="action" value="end_<%= student.student_id %>">End</button>
                            <button type="submit" name="action" value="change_<%= student.student_id %>">Change Graduation Year Group</button>
                        </li>
                    <% }) %>
                </ul>
            </form>
        <% }) %>
    </div>

