<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Class, Subject, and Graduation Year</title>
</head>
<body>
    <h1>Manage Records</h1>

    <div class="container">
        <fieldset>
            <legend>Graduation Year Groups</legend>
            <% graduationYearGroups.forEach(group => { %>
                <div>
                    <form action="/editGraduationYearGroup" method="post">
                        <input type="hidden" name="id" value="<%= group.id %>">
                        <input type="text" name="newName" value="<%= group.name %>">
                        <button type="submit">Update</button>
                    </form>
                    <a href="/deleteGraduationYearGroup?id=<%= group.id %>" class="delete-link">Delete</a>
                </div>
            <% }); %>
        </fieldset>

        <fieldset>
            <legend>Classes</legend>
            <% classes.forEach(cls => { %>
                <div>
                    <form action="/editClass" method="post">
                        <input type="hidden" name="classId" value="<%= cls.class_id %>">
                        <input type="text" name="newClassName" value="<%= cls.class_name %>">
                        <button type="submit">Update</button>
                    </form>
                    <a href="/deleteClass?classId=<%= cls.class_id %>" class="delete-link">Delete</a>
                </div>
            <% }); %>
        </fieldset>

        <fieldset>
            <legend>Subjects</legend>
            <form action="/common/manageClassSubjectAndGradYr" method="GET">
                <select id="classSelect" name="classId">
                    <option value="">Select a Class</option>
                    <% classes.forEach(function(cls) { %>
                        <option value="<%= cls.class_id %>"><%= cls.class_name %></option>
                    <% }); %>
                </select>
            </form>
            
            <div id="subjectsContainer"></div>
        </fieldset>
    </div>

    <script src="/js/manageClassSubjectAndGradYr.js"></script>
</body>
</html>
