<body>
    <% if (messages && messages.success && messages.success.length > 0) { %>
        <div class="flash-message flash-success"><%= messages.success %></div>
    <% } %>
    <% if (messages && messages.error && messages.error.length > 0) { %>
        <div class="flash-message flash-error"><%= messages.error %></div>
    <% } %>
    <div class="link-to-next-back">
        <a href="/common/classDashboard?classId=<%= student.class_id %>" class="btn btn-secondary">Back to Class Dashboard</a>
    </div>
    <hr>
    <main>
        <h1>Student Information</h1>
        <div class="student-image-container">
            <% if (student.image_url) { %>
                <img src="/uploads/<%= student.image_url %>?v=<%= new Date().getTime() %>" alt="Student Image" class="student-image">
            <% } else { %>
                <img src="/images/profilePlaceholder.png" alt="Placeholder Image" class="student-image">
            <% } %>
            <h2><%= student.first_name %> <%= student.last_name %></h2>
        </div>
        <div class="student-info">
            <p>Gender: <%= student.gender %></p>
            <p>Class: <%= student.class_name %></p>
            <p>Graduation Year: <%= gradYearGroupName %></p>
            <p>Date of Birth: <%= new Date(student.date_of_birth).toLocaleDateString() %></p>
            <p>Height: <%= student.height %> cm</p>
            <p>Hometown: <%= student.hometown %></p>
        </div>

        <h3>Subjects and Grades</h3>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Grade</th>
                        <th>Total Percentage</th>
                    </tr>
                </thead>
                <tbody>
                    <% subjects.forEach(subject => { %>
                        <tr>
                            <td><%= subject.subject_name %></td>
                            <td><%= subject.grade %></td>
                            <td><%= subject.total_percentage %> %</td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>

        <h3>Guardians</h3>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Hometown</th>
                    </tr>
                </thead>
                <tbody>
                    <% guardians.forEach(guardian => { %>
                        <tr>
                            <td><%= guardian.first_name %></td>
                            <td><%= guardian.last_name %></td>
                            <td><%= guardian.address %></td>
                            <td><%= guardian.phone %></td>
                            <td><%= guardian.hometown %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="link-to-next-back">
            <a href="/common/editStudent?studentId=<%= student.student_id %>" class="btn btn-primary">Modify Student Information</a>
        </div>
    </main>
</body>
