<main>
    <h1>Student Details</h1>
    <h2><%= student.first_name %> <%= student.last_name %></h2>
    <div class="student-image-container">
        <% if (student.image_url) { %>
            <img src="/<%= student.image_url %>" alt="Student Image" class="student-image">
        <% } else { %>
            <p>No image available</p>
        <% } %>
    </div>
    <div class="student-info">
        <p>Class: <%= student.class_name %></p>
        <p>Graduation Year Group: <%= gradYearGroupName %></p>
        <p>Date of Birth: <%= new Date(student.date_of_birth).toLocaleDateString() %></p>
        <p>Height: <%= student.height %> cm</p>
        <p>Hometown: <%= student.hometown %></p>
    </div>
    
    <h3>Subjects and Grades</h3>
    <table>
        <thead>
            <tr>
                <th>Subject</th>
                <th>Grade</th>
                <th>Total Percentage</th>
            </tr>
        </thead>
        <tbody>
            <% subjects.forEach(subject => { %>
                <tr>
                    <td><%= subject.subject_name %></td>
                    <td><%= subject.grade %></td>
                    <td><%= subject.total_percentage %> %</td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <h3>Guardians</h3>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Hometown</th>
            </tr>
        </thead>
        <tbody>
            <% guardians.forEach(guardian => { %>
                <tr>
                    <td><%= guardian.first_name %></td>
                    <td><%= guardian.last_name %></td>
                    <td><%= guardian.address %></td>
                    <td><%= guardian.phone %></td>
                    <td><%= guardian.hometown %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</main>
